[submodule "compiler/taco"]
	path = compiler/taco
	url = https://anonymous.4open.science/r/taco-25F3
	branch = sam
[submodule "compiler/benchmark"]
	path = compiler/benchmark
	url = https://github.com/google/benchmark.git
